main {
  padding: 16px;
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

.content {
  border: 4px solid #252f42;
  border-radius: 16px;
  padding: 24px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* p {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
} */

textarea {
  background: #eff0f4;
  border: none;
  border-radius: 8px;
  width: 100%;
  transform: translateX(-10px);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
  resize: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.messages-box {
  flex-grow: 2;
  max-height: 50vh;
  overflow: auto;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.message {
  width: fit-content;
}

.message.system {
  border-radius: 0px 25px 25px 25px;
  background: #035a9d;
  align-self: flex-start;
}

.message.user {
  border-radius: 20px 0px 20px 20px;
  background: #65da65;
  align-self: flex-end;
}

.message p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: white;
  padding: 16px;
  margin: 0;
}

.bottom-box {
  margin-top: 8px;
}

.actions-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  display: flex;
  align-items: center;
  padding: 5px;
}

.error p {
  color: red;
  text-align: left;
  margin: 0;
}

/** Scrollbar Styling **/

.messages-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.messages-box::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.messages-box::-webkit-scrollbar-thumb {
  background-color: #000000;
}
