.hero-image {
  background-image: url('/assets/worldmap.png');
  height: 50%;
  max-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-box {
  width: 100%;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrot-img {
  width: 80px;
  padding: 15px;
}

.hero-text {
  font-family: Big Shoulders Display;
  font-size: 44px;
  font-weight: 800;
  line-height: 65px;
  text-align: left;
  color: #32cd32;
  margin: 0;
}

.hero-subtitle {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  margin: 0;
}

main {
  padding: 16px;
  display: flex;
  justify-content: center;
}

.content {
  border: 4px solid #252f42;
  border-radius: 16px;
  padding: 24px;
  width: 400px;
}

p {
  color: #035a9d;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

textarea {
  background: #eff0f4;
  border: none;
  border-radius: 8px;
  width: 100%;
  transform: translateX(-10px);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
  resize: none;
}

.language-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 0px 20px;
}

.radio-btn {
  margin-right: 12px;
}

.language-option {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  display: flex;
  margin: 5px;
}

.flag-img {
  margin-left: 12px;
  border: 1px solid #999999;
}

button {
  background: #035a9d;
  border: none;
  width: 100%;
  height: 50px;
  top: 652px;
  left: 34px;
  gap: 0px;
  border-radius: 6px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: white;
  margin: 20px 0px;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}