main {
  padding: 16px;
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

.content {
  border: 4px solid #252f42;
  border-radius: 16px;
  padding: 24px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* p {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
} */

textarea {
  background: #eff0f4;
  border: none;
  border-radius: 8px;
  width: 100%;
  transform: translateX(-10px);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
  resize: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.messages-box {
  flex-grow: 2;
  max-height: 55vh;
  overflow: auto;
  border-radius: 8px;
}

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.message.system {
  border-radius: 2px 20px 20px 20px;
  background: #035a9d;
}

.message.user {
  border-radius: 20px 2px 20px 20px;
  background: #65da65;
}

.message p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: white;
  padding: 16px;
}

.actions-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Scrollbar Styling **/

.messages-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.messages-box::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.messages-box::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
